# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Docker
docker-volume/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.hypothesis/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Testing
.pytest_cache/
*.cover
.coverage
htmlcov/
